# First page
http://localhost:3000/products

# Next page using cursor
http://localhost:3000/products?cursor=199991

# Filter by category
http://localhost:3000/products?category=Electronics

# Filter by category with cursor
http://localhost:3000/products?category=Electronics&cursor=199991

# With limit
http://localhost:3000/products?limit=20

# All together
http://localhost:3000/products?category=Electronics&cursor=199991&limit=20